
body{
  background-color: black;
}
h1{
  color: white;
  text-align: center;
  font-size: 100px;
  margin-top: 0px;
}
.bts{
  padding-left: 300px;
}
.bt{
  width: 8%;
  display: inline-block;
  padding: 50px;
  color: red;
  font-size: 16px;
  font-weight: bold;
}
footer{
  text-align: center;
  color: white;
  margin-top: 100px;
}
.A{
  background-image: url("images/tom1.png");
}
